@model IEnumerable<S5_L5_Progetto_Settimanale_AndreaGuarnieri.Models.VerbaleDetailViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="home-container">
        <h2>Verbali Redatti</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nominativo</th>
                    <th>Data Violazione</th>
                    <th>Indirizzo Violazione</th>
                    <th>Descrizione Violazione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var verbale in Model)
                {
                    <tr>
                        <td>@verbale.Cognome @verbale.Nome</td>
                        <td>@verbale.DataViolazione.ToShortDateString()</td>
                        <td>@verbale.IndirizzoViolazione</td>
                        <td>@verbale.DescrizioneViolazione</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <partial name="_LoginPartial" />
}
